{{> header }}
    {{> navbar }}
<center>
<div class="shadow-sm p-3 mb-5 bg-white rounded float-left">
    <h1>{{ciudad}}</h1>
    </br>
    <h3>{{temp1}} ºC</h3>
  </div>
</center>
<center>
<div class="shadow-sm p-3 mb-6 bg-white rounded float-left">
    <h1>{{ciudad1}}</h1>
    </br>
    <h3>{{temp2}} ºC</h3>
  </div>
</div>
</center>

    
{{> footer }}