{{> header }}
    {{> navbar }}
    </br>
    </br>
<center>
  <div class="shadow-sm p-3 mb-5 bg-white rounded float-left">
    <h1>{{ciudad2}}</h1>
    </br>
    <h3>{{temp3}} ºC</h3>
  </div>

<div class="shadow-sm p-3 mb-6 bg-white rounded float-left">
    <h1>{{ciudad3}}</h1>
    </br>
    <h3>{{temp4}} ºC</h3>
  </div>

</center>
    
{{> footer }}